
.comboBox{
    width: 20rem;
    padding: 5rem;
    margin: auto;
}

.container {
    display: grid;
    place-content: center;
}

.primitives{
    background-color: azure;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
} 